.tela {
    display: flex !important;
    width: 100vw;
    height: 100vh;
}

.corpo {
    width: 70vw;
    height: 100vh;
}

.chat {
    width: 30vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.container-messages {
    width: 100%;
    height: 90%;
}
.input {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#message_input {
    /* width: 70%; */
    background-color: aliceblue;
}

#form {
    outline: none;
	border:none;
	background-image:none;
	background-color:transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none; 
}