<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="templates/css/reset.css">
    <link rel="stylesheet" href="templates/css/styles.css">
    <link rel="stylesheet" href="templates/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap" rel="stylesheet">
    <title>WebSocket Chat</title>
</head>
<body>
    <div class="tela">
        <div class="container-signup-signin">
            <div class="logo">
                <h1>WebSocket Chat</h1>
            </div>
            <div class="signup">
                <form class="form-signup" id="form">
                    <input type="text" placeholder="Nome de usuário" id="user"/>
                    <input type="password" placeholder="Senha" id="senha"/>
                    <select id="topic">
                        <option value="" disabled selected>Selecione o tópico desejado</option>
                        <option value="culinaria">Culinária</option>
                        <option value="futebol">Futebol</option>
                        <option value="politica">Política</option>
                        <option value="religiao">Religião</option>
                    </select>
                    <button onclick="enviar()">Entrar</button>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
        let socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('redirect', function(red) {
            window.location.href = red;
        })

        function enviar() {
            event.preventDefault();
            let socket = io.connect('http://' + document.domain + ':' + location.port);
            let nome = document.getElementById('user').value;
            let senha = document.getElementById('senha').value;
            let topic = document.getElementById('topic').value;
            
            socket.emit('login', {name: nome, senha: senha, topic: topic})
            localStorage.setItem('username', nome);
            localStorage.setItem('password', senha);
            nome = "";
            senha = "";
            topic = "";
        }

    </script>
</body>
</html>
