<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/templates/css/reset.css">
    <link rel="stylesheet" href="/templates/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap" rel="stylesheet">
    <title>WebSocket Chat</title>
</head>
<body>
    <div class="tela">
        <div class="corpo"></div>
        <div class="chat">
            <div class="container-messages">
                <ul id="messages"></ul>
            </div>
            
            <div class="input">
                <form id="form" action="">
                    <input id="message_input" autocomplete="off" /><button>Send</button>
                </form>
            </div>
            
        </div>
    </div>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
        let socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('message', function(msg){
            var ul = document.getElementById('messages');
            var li = document.createElement('li');
            li.appendChild(document.createTextNode(msg));
            ul.appendChild(li);
        });

        document.getElementById('form').onsubmit = function(event) {
            event.preventDefault();
            var messageInput = document.getElementById('message_input');
            socket.emit('message', messageInput.value);
            messageInput.value = '';
        };
    </script>
</body>
</html>
