<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/templates/css/rooms.css">
    <title>WebSocket Chat</title>
</head>
<body>
    <div class="titulo">
        <button class="botao tema" onclick="redirect('futebol')">Tema Anterior</button>
        <div>Política</div>
        <button class="botao tema" onclick="redirect('religiao')">Proximo Tema</button>
    </div>
    <ul id="chat"></ul>
    <form id="form" action="" class="campoTexto">
        <input type="text" id="mensagem" autocomplete="off" placeholder="Digite sua mensagem"/>
        <button class="botao">Enviar</button>
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('message_politica', function(msg){
            var ul = document.getElementById('messages');
            var li = document.createElement('li');
            li.appendChild(document.createTextNode(msg));
            ul.appendChild(li);
        });

        document.getElementById('form').onsubmit = function(event) {
            event.preventDefault();
            var messageInput = document.getElementById('message_input');
            socket.emit('message_politica', messageInput.value);
            messageInput.value = '';
        };

        function redirect(tema){
            window.location.href = "/" + tema;
        }
    </script>
</body>
</html>
